<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wedding Invitation - Rausyan & Dede</title>
        <link rel="icon" href="img/logo.png" type="image/x-icon" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
        />
        <link href="css/app.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@500&family=Merriweather:wght@700&family=Pinyon+Script&family=Source+Serif+Pro:wght@300&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- 1st Section: Title and Background -->
        <section
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner parent">
                <div
                    class="carousel-item active"
                    style="background-image: url('img/cover3.jpg')"
                ></div>
                <div
                    class="carousel-item"
                    style="
                        background-image: url('img/cover2.jpg');
                        background-position: top;
                    "
                ></div>
            </div>
            <div
                class="child container-fluid text-white py-5 text-dark w-100 h-100 d-flex flex-column fw-bolder justify-content-between"
                id="section-1"
            >
                <div class="">
                    <h5 class="text-center">23/10/2022</h5>
                    <h1 class="text-center pb-3">Rausyan & Dede</h1>
                </div>
                <div class="">
                    <form
                        action="#saveTheDate"
                        class="d-flex justify-content-center"
                    >
                        <button class="btn btn-light">Save the Date</button>
                    </form>
                </div>
            </div>
        </section>
        <br />

        <!-- 2nd Section: Quran Recite and Pre-wedding Photos -->
        <section
            class="container-fluid position-relative text-center"
            id="quranRecitation"
        >
            <div class="row">
                <img src="img/break.png" alt="" />
            </div>
            <div class="row px-3">
                <p>
                    "Dan di antara tanda-tanda kekuasaan-Nya ialah Dia
                    menciptakan untukmu isteri-isteri dari jenismu sendiri,
                    supaya kamu cenderung dan merasa tenteram kepadanya, dan
                    dijadikan-Nya diantaramu rasa kasih dan sayang. Sesungguhnya
                    pada yang demikian itu benar-benar terdapat tanda-tanda bagi
                    kaum yang berfikir."
                </p>
                <p class="my-0"><b>(Q.S. Ar-Rum: 21)</b></p>
            </div>
            <div class="row">
                <img src="img/break.png" alt="" />
            </div>
        </section>
        <br />

        <!-- 3rd Section: Couple Information -->
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <section id="rausyanSection" class="col col-lg-5">
                    <div class="row d-flex justify-content-center">
                        <div
                            class="col d-flex justify-content-end align-items-center"
                        >
                            <div id="groom">
                                <h5>The</h5>
                                <h5>Groom</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div
                                class="card"
                                style="width: 16rem"
                                id="card-rausyan"
                            >
                                <img
                                    src="img/foto-rausyan.jpg"
                                    alt=""
                                    class="card-img-top"
                                />
                                <div class="card-body text-center">
                                    <h2 class="card-title">
                                        <b> Rausyan Fikry Muhammady, S.H.</b>
                                    </h2>
                                    <p class="card-text">
                                        Putra dari: <br />
                                        Bapak Dr. KH. M. Imdadun Rahmat <br />
                                        dan Ibu Hj. Mikulsum, S.Ag.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="col-12 my-3 d-flex align-items-center justify-content-center col-lg-2 bg-lg-light d-sm-none"
                    id="intersection"
                    style="
                        background: linear-gradient(
                            30deg,
                            #c6c4c0 -70%,
                            #a08c5b 20%,
                            #a08c5b 80%,
                            #c6c4c0 300%
                        );
                        height: 6em;
                    "
                >
                    <p class="text-center mb-0">
                        True love stories never have endings.
                    </p>
                </section>
                <section id="dedeSection" class="col col-lg-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            <div
                                class="card"
                                style="width: 16rem"
                                id="card-dede"
                            >
                                <img
                                    src="img/foto-dede.jpg"
                                    alt=""
                                    class="card-img-top"
                                />
                                <div class="card-body text-center">
                                    <h2 class="card-title">
                                        <b>
                                            apt. Dede Badriaturrahmah,
                                            S.Farm.</b
                                        >
                                    </h2>
                                    <p class="card-text">
                                        Putri dari: <br />
                                        Bapak KH. Hasan Basri <br />
                                        dan Ibu Hj. Siti Kholidah
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col d-flex justify-content-start align-items-center"
                        >
                            <div class="" id="bride">
                                <h5 class="ps-2">The</h5>
                                <h5>Bride</h5>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <br />

        <!-- 4th Section: Akad -->
        <div
            class="row d-flex justify-content-center px-lg-5 px-3 pt-5"
            id="saveTheDate"
        >
            <section class="container-fluid pb-4 col-lg-4" id="section-4">
                <div class="container" id="boxAkad">
                    <h4 class="text-center pt-2 titleSection">Akad</h4>
                    <div class="row">
                        <div class="mb-3">
                            <section
                                id="carouselExampleCaptions"
                                class="carousel slide"
                                data-bs-ride="carousel"
                            >
                                <div class="carousel-inner parent">
                                    <div
                                        class="carousel-item active"
                                        style="
                                            background-image: url('img/slide1.jpg');
                                        "
                                    ></div>
                                    <div
                                        class="carousel-item"
                                        style="
                                            background-image: url('img/slide2.jpg');
                                        "
                                    ></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div
                        class="row text-center d-flex justify-content-center align-items-center"
                    >
                        <div class="col-3 m-1 pb-3">
                            <div
                                id="dateBox"
                                class="border text-white d-flex flex-column align-items-center"
                            >
                                <p class="d-flex pt-3">Minggu</p>
                                <h3 class="d-flex"><b>23</b></h3>
                                <p class="d-flex">Oktober 2022</p>
                            </div>
                        </div>
                        <div class="col-8" id="placeDetails">
                            <p class="mt-3">Pukul 08.00 WIB</p>
                            <b>Masjid Raya KH. Hasyim Asy'ari</b>
                            <p>
                                Jl. Rusunawa Pesakih, Duri Kosambi, Kec.
                                Cengkareng, Kota Jakarta Barat, DKI Jakarta
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 5th Section: Resepsi -->
            <section
                class="container-fluid pb-4 col-lg-4 order-lg-3"
                id="section-5"
            >
                <div class="container" id="boxAkad">
                    <div class="row">
                        <h4 class="text-center pt-2 titleSection">Resepsi</h4>
                        <div class="mb-3">
                            <section
                                id="carouselExampleCaptions"
                                class="carousel slide"
                                data-bs-ride="carousel"
                            >
                                <div class="carousel-inner parent">
                                    <div
                                        class="carousel-item active"
                                        style="
                                            background-image: url('img/slide3.jpg');
                                        "
                                    ></div>
                                    <div
                                        class="carousel-item"
                                        style="
                                            background-image: url('img/slide4.jpg');
                                        "
                                    ></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div
                        class="row text-center d-flex justify-content-center align-items-center"
                        id="placeDetails"
                    >
                        <div class="col-8">
                            <% if (s === '1') { %>
                            <p class="mt-3">Pukul 12.00 - 14.30</p>
                            <% } else { %>
                            <p class="mt-3">Pukul 14.30 - 17.00</p>
                            <% } %>
                            <b>Masjid Raya KH. Hasyim Asy'ari</b>
                            <p>
                                Jl. Rusunawa Pesakih, Duri Kosambi, Kec.
                                Cengkareng, Kota Jakarta Barat, DKI Jakarta
                            </p>
                        </div>
                        <div class="col-3 m-1 pb-3">
                            <div
                                id="dateBox"
                                class="border text-white d-flex flex-column align-items-center"
                            >
                                <p class="d-flex pt-3">Minggu</p>
                                <h3 class="d-flex"><b>23</b></h3>
                                <p class="d-flex">Oktober 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Additional Section: Google Maps -->
            <section class="container-fluid pb-3 col-lg-4 order-lg-2 px-lg-0">
                <h4 class="text-center titleSection pb-2">Location</h4>
                <div class="container d-flex justify-content-center">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.789495481426!2d106.71616720000002!3d-6.158941400000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f9d204c2228d%3A0x28838766c63376fa!2sMASJID%20RAYA%20KH.%20HASYIM%20ASY&#39;ARI%20JAKARTA!5e0!3m2!1sen!2sid!4v1664184819393!5m2!1sen!2sid"
                        style="border: 0"
                        height="300px"
                        width="300px"
                        allowfullscreen="true"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        class="border p-2"
                    ></iframe>
                </div>
            </section>
        </div>

        <!-- 6th Section: Prewedding Gallery -->
        <section class="container-fluid pt-2 pb-2">
            <h1 class="text-center titleSection">Our Memories</h1>
            <div class="container">
                <div class="row px-0 d-flex">
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col px-0">
                                <img
                                    src="img/gallery1.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                                <img
                                    src="img/gallery3.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                            </div>
                            <div class="col px-0">
                                <img
                                    src="img/slide4.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                                <img
                                    src="img/gallery2.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col px-0">
                                <img
                                    src="img/cover2.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                                <img
                                    src="img/slide3.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                            </div>
                            <div class="col px-0">
                                <img
                                    src="img/slide2.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                                <img
                                    src="img/cover3.jpg"
                                    class="img img-fluid"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 7th Section: Messages -->
        <section class="container-fluid mt-5" id="section-7">
            <div class="container py-4">
                <h4 class="titleSection text-center">Join with us!</h4>
                <p class="text-center pb-3">
                    Berikan ucapan dan konfirmasi kehadiran di sini.
                </p>
                <div
                    class="row d-flex align-items-center justify-content-center"
                >
                    <div class="col-lg-6 container">
                        <form
                            action="/"
                            method="POST"
                            novalidate
                            class="validated-form pb-3"
                        >
                            <div class="mb-3">
                                <label for="name" class="form-label"
                                    >Nama</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="message[name]"
                                    required
                                />
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label"
                                    >Pesan dan Harapan</label
                                >
                                <textarea
                                    type="text"
                                    class="form-control"
                                    id="message"
                                    name="message[message]"
                                    required
                                ></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="isAttending" class="form-label"
                                    >Konfirmasi</label
                                >
                                <select
                                    id="isAttending"
                                    name="message[isAttending]"
                                    class="form-select form-select-sm"
                                    aria-label=".form-select-sm example"
                                    required
                                >
                                    <option value="Hadir">Hadir</option>
                                    <option value="Tidak Hadir">
                                        Tidak Hadir
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-secondary">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="d-lg-none">
                        <br />
                    </div>
                    <div class="col-lg-6 container pb-3">
                        <div
                            class="bg-muted p-3 rounded-2 comment-section"
                            id="messageSection"
                        >
                            <% for (let message of messages) { %>
                            <div class="comment rounded px-4">
                                <div class="row d-flex align-items-center">
                                    <div
                                        class="col-2 rounded-circle d-flex justify-content-center align-items-center"
                                        id="nameBackground"
                                    >
                                        <div
                                            class="text-white"
                                            style="font-size: 1.1em"
                                        >
                                            <%= message.name[0].toUpperCase() %>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-1">
                                            <b><%= message.name %></b> - <%=
                                            message.isAttending %>
                                        </p>
                                        <p><%= message.message %></p>
                                    </div>
                                </div>
                            </div>

                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 8th Section: COVID-19 Protocols -->
        <section
            class="container container-fluid py-4 mb-4 mt-5 border"
            id="healthProtocol"
        >
            <div class="row text-center">
                <h4 class="pb-3 titleSection">
                    Tetap Patuhi Protokol Kesehatan
                </h4>
                <p>
                    Demi keamanan dan kenyamanan bersama, hadirin undangan
                    dihimbau untuk memenuhi beberapa aturan berikut:
                </p>
                <div class="row justify-content-center align-items-center mx-0">
                    <div class="col-6 col-md-3">
                        <img
                            src="img/cuci-tangan.png"
                            alt=""
                            class="img img-fluid"
                        />
                        <p>Mencuci Tangan</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <img
                            src="img/pake-masker.png"
                            alt=""
                            class="img img-fluid"
                        />
                        <p>Memakai Masker</p>
                    </div>

                    <div class="col-6 col-md-3">
                        <img
                            src="img/handsanitizer.png"
                            alt=""
                            class="img img-fluid"
                        />
                        <p>Rutin Membersihkan Permukaan</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <img
                            src="img/menjaga-jarak.png"
                            alt=""
                            class="img img-fluid"
                        />
                        <p>Menjaga Jarak</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <audio
                src="music/invitation-song.mp3"
                id="Audio"
                autoplay
                loop
            ></audio>
            <!-- <a onclick="togglePlay()"><button type="button">Ok</button></a>
            <script>
                var myAudio = document.getElementById("Audio");
                var isPlaying = false;
                function togglePlay() {
                    my.myAudio.play();
                }
            </script> -->
        </section>

        <section
            id="closingTag"
            class="d-flex align-items-end justify-content-center text-center"
            style="background-image: url('img/closing.jpg')"
        >
            <div class="fw-bold">
                <b>
                    <h3 class="">WITH LOVE,</h3>
                    <h3 class="mb-5">Rausyan & Dede</h3>
                </b>
            </div>
        </section>

        <footer class="footer bg-dark py-4 mt-auto">
            <div class="container text-center">
                <span class="text-muted"
                    >&copy; Yudho Ahmad Fahreza 2022. <br />
                    All Rights Reserved.</span
                >
            </div>
        </footer>

        <!-- Bootstrap CDN -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
